html,
body {
    margin-top: -10px
}


#create-post {
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  bottom: 0;
  top: 56px;
  background: white;
  text-align: center;
  /*display: none;*/
  transform: translateY(100vh);
  transition: transform 0.3s;
}


.main-image {
  max-width: 100%;
  margin: auto;
  display: block;
}

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}


.input-section {
  display: block;
  margin: 10px auto;
}

.shared-moment-card.mdl-card {
  margin: 10px auto;
  width: 100vw;
}

.shared-moment-card .mdl-card__title {
  height: 134px;
}

@media screen and (min-width: 300px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 95vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 139px;
  }
}

@media screen and (min-width: 350px) and (max-width: 405px){
    .shared-moment-card.mdl-card {
        margin: 10px auto;
        width: 95vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 161px;
    }
}

@media screen and (min-width: 406px) and (max-width: 450px){
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 90vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 177px;
  }
}

@media screen and (min-width: 451px) and (max-width: 499px){
    .shared-moment-card.mdl-card {
        margin: 10px auto;
        width: 95vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 207px;
    }
}



@media screen and (min-width: 500px) and (max-width: 509px){
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 95vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 233px;
  }
}

@media screen and (min-width: 510px) and (max-width: 550px){
    .shared-moment-card.mdl-card {
        margin: 10px auto;
        width: 95vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 234px;
    }
}

@media screen and (min-width: 551px) and (max-width: 603px){
    .shared-moment-card.mdl-card {
        margin: 10px auto;
        width: 95vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 252px;
    }
}

@media screen and (min-width: 604px) and (max-width: 650px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 90vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 262px;
  }
}

@media screen and (min-width: 651px) and (max-width: 699px) {
    .shared-moment-card.mdl-card {
        margin: 10px auto;
        width: 90vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 283px;
    }
}


@media screen and (min-width: 700px) and (max-width: 750px){
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 85vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 287px;
    
  }
}

@media screen and (min-width: 751px) and (max-width: 800px){
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 75vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 268px;
    
  }
}

@media screen and (min-width: 801px) and (max-width: 850px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 75vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 291px;
  }
}

@media screen and (min-width: 851px) and (max-width: 899px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 75vw;
    /*height: 100%;*/
  }
  .shared-moment-card .mdl-card__title {
    height: 298px;
    
  }
}

@media screen and (min-width: 900px) and (max-width: 950px){
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 70vw;
    /*height: 100%;*/
  }
  .shared-moment-card .mdl-card__title {
    height: 307px;
    
  }
}

@media screen and (min-width: 951px) and (max-width: 999px){
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 70vw;
    /*height: 100%;*/
  }
  .shared-moment-card .mdl-card__title {
    height: 323px;
  }
}


@media screen and (min-width: 1000px) and (max-width: 1050px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 65vw;
    /*height: 100%;*/
    
  }
  .shared-moment-card .mdl-card__title {
    height: 316px;
    
  }
}

@media screen and (min-width: 1051px) and (max-width: 1099px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 60vw;
    /*height: 100%;*/
    
  }
  .shared-moment-card .mdl-card__title {
    height: 304px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1150px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 60vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 319px;
  }
}

@media screen and (min-width: 1151px) and (max-width: 1199px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 304px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1250px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 319px;
  }
}

@media screen and (min-width: 1251px) and (max-width: 1300px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 337px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1350px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 344px;
  }
}

@media screen and (min-width: 1351px) and (max-width: 1400px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 358px;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1450px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 372px;
  }
}


@media screen and (min-width: 1451px) and (max-width: 1500px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 389px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1550px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 400px;
  }
}

@media screen and (min-width: 1551px) and (max-width: 1600px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 413px;
  }
}


@media screen and (min-width: 1601px) and (max-width: 1650px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 424px;
  }
}

@media screen and (min-width: 1651px) and (max-width: 1700px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 438px;
  }
}

@media screen and (min-width: 1701px) and (max-width: 1750px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 451px;
  }
}

@media screen and (min-width: 1751px) and (max-width: 1800px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 466px;
  }
}

@media (min-width: 1801px) and (max-width: 1850px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 477px;
  }
}

@media screen and (min-width: 1851px) and (max-width: 1900px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 494px;
  }
}

@media screen and (min-width: 1901px) and (max-width: 1950px) {
  .shared-moment-card.mdl-card {
    margin: 10px auto;
    width: 55vw;
  }
  .shared-moment-card .mdl-card__title {
    height: 500px;
  }
}

@media screen and (min-width: 1951px) and (max-width: 2000px) {
    .shared-moment-card.mdl-card {
        margin: 20px auto;
        width: 55vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 500px;
    }
}

@media screen and (min-width: 2001px) and (max-width: 2051px) {
    .shared-moment-card.mdl-card {
        margin: 20px auto;
        width: 55vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 532px;
    }
}

@media screen and (min-width: 2052px) and (max-width: 2100px) {
    .shared-moment-card.mdl-card {
        margin: 20px auto;
        width: 55vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 544px;
    }
}

@media screen and (min-width: 2101px) and (max-width: 2150px) {
    .shared-moment-card.mdl-card {
        margin: 20px auto;
        width: 50vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 511px;
    }
}

@media screen and (min-width: 2151px) and (max-width: 2200px) {
    .shared-moment-card.mdl-card {
        margin: 20px auto;
        width: 50vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 522px;
    }
}

@media screen and (min-width: 2201px) and (max-width: 2250px) {
    .shared-moment-card.mdl-card {
        margin: 20px auto;
        width: 50vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 531px;
    }
}

@media screen and (min-width: 2251px) and (max-width: 2300px) {
    .shared-moment-card.mdl-card {
        margin: 20px auto;
        width: 50vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 543px;
    }
}

@media screen and (min-width: 2301px)  {
    .shared-moment-card.mdl-card {
        margin: 20px auto;
        width: 45vw;
    }
    .shared-moment-card .mdl-card__title {
        height: 501px;
    }
}











